body{
	font-family: 'Bree Serif';
	background-color:#192B56;
	
}

header{
	display:flex;
	min-height:70px;
	background-color:#192B56;
	justify-content:space-between;
	align-items:center;
	padding-left:10px;
	padding-right:10px;
}

header img{
	
	width:200px;
	height:100px;
}

h1{
	color:white;
}

a{
	text-decoration:none;
	color:black;
}

nav a {
	color:white;
	font-weight:600;
	padding-right:20px;
}

nav a:hover{
	color:#005BBE;
}

.logo{
	display:flex;
}

.primerContenedor{ 
	padding-top:10px;
	padding-bottom:40px;
	background-color:#344B7F;
	text-align:center;
}

.h2-grande{
	animation:mostrarTexto 4s;
	color:white;
	margin-top:0;
	font-size:100px;
}

.h2-arriba{
	animation:mostrarTextoBajo 3s;
	color:white;
	font-size:32px;
	margin-top:-100px;
}

p{
	color:white;
	font-size:26px;
}

.contenedorEjercicios {
	color:white;
	text-align:center;
	justify-content:center;
}

.contenedorEjercicios img{
	width:500px;
	height:300px;
}

input{
	cursor:pointer;
	border:none;
	margin-top:20px;
	color:#192B56;
	background:white;
	font-size:16px;
	width:30%;
	height:5%;
	border-radius:30px;
}

